.collaborator{
  height: 100px;
  width: 100px;
  border-radius: 8px;
  position: relative;
  flex: 0 0 auto;
}

.collaborator p{
  z-index: 1;
  font-size: 14px;
}
.background{
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: gray;
  z-index: -1;
  position: absolute;
}