.item{
  display: flex;
align-items: center;
justify-content: center;
  height: 100px;
  width: 100px;
  margin: 8px;
  border-radius: 10px;
  position: relative;
  flex: 0 0 auto;
  box-shadow: 0px 3px 8px 5px rgba(0,0,0,0.05);
  transition: 0.2s;
  cursor: pointer;
}

.item:hover{
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
  filter: brightness(0.9);
}

.item p{
  z-index: 1;
  font-size: 14px;
}
.background{
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: gray;
  z-index: -1;
  position: absolute;
}